.bg-quizz-head, .picto.analytics.hover, .picto.analytics, .picto.bill.hover, .picto.bill, .picto.coffre.hover, .picto.coffre, .picto.document.bis.hover, .picto.document.bis, .picto.document.hover, .picto.document, .picto.dollars.hover, .picto.dollars, .picto.factory.hover, .picto.factory, .picto.invoice.hover, .picto.invoice, .picto.lawhouse.hover, .picto.lawhouse, .picto.macaron.hover, .picto.macaron, .picto.secure.hover, .picto.secure, .picto.zoom.bis.hover, .picto.zoom.bis, .picto.zoom.hover, .picto.zoom {
    background: url("../img/skin/pictos.png") no-repeat;
}

.bg-quizz-head {
    background-position: 0 0;
}

.picto.analytics.hover {
    background-position: 0 -91px;
}

.picto.analytics {
    background-position: 0 -232px;
}

.picto.bill.hover {
    background-position: 0 -373px;
}

.picto.bill {
    background-position: 0 -535px;
}

.picto.coffre.hover {
    background-position: 0 -697px;
}

.picto.coffre {
    background-position: 0 -816px;
}

.picto.document.bis.hover {
    background-position: 0 -935px;
}

.picto.document.bis {
    background-position: 0 -1077px;
}

.picto.document.hover {
    background-position: 0 -1219px;
}

.picto.document {
    background-position: 0 -1359px;
}

.picto.dollars.hover {
    background-position: 0 -1499px;
}

.picto.dollars {
    background-position: 0 -1619px;
}

.picto.factory.hover {
    background-position: 0 -1739px;
}

.picto.factory {
    background-position: 0 -1881px;
}

.picto.invoice.hover {
    background-position: 0 -2023px;
}

.picto.invoice {
    background-position: 0 -2182px;
}

.picto.lawhouse.hover {
    background-position: 0 -2341px;
}

.picto.lawhouse {
    background-position: 0 -2476px;
}

.picto.macaron.hover {
    background-position: 0 -2611px;
}

.picto.macaron {
    background-position: 0 -2745px;
}

.picto.secure.hover {
    background-position: 0 -2879px;
}

.picto.secure {
    background-position: 0 -3007px;
}

.picto.zoom.bis.hover {
    background-position: 0 -3135px;
}

.picto.zoom.bis {
    background-position: 0 -3266px;
}

.picto.zoom.hover {
    background-position: 0 -3397px;
}

.picto.zoom {
    background-position: 0 -3536px;
}

