body {
	font-family: $text-font;
	width: 100%;
}

header{
	height: $header-desktop-height;
    position: fixed;
    z-index: 3;
    width: 100%;
    background: #fff;

	&.fixed {

	}
	.valign {
		height: auto;
		@include bpmax(480px){
			height: 180px;
		}
		&:before{
			content: "";
			display: inline-block;
			vertical-align: middle;
			height: 100%;
		}
	}

	.wrapper {
		background: #fff;
	}

	.logo {
		display: inline-block;
		vertical-align: top;
		width: 159px;
		height: 100%;
		float: left;

		@include bpmax(520px){
			display:block;
			margin: 0 3% 3% 0;
		    line-height: 15px;
		    width: 100%;
		    text-align: center;
		    border-bottom: 2px solid #333;
		}

		h1{
			font-family: monospace;
			font-style: italic;
			font-size: 52px;

			line-height: 52px;
			display: inline-block;
		}

		strong{
			font-family: monospace;
			font-size: 18px;
			line-height: 18px;
			display: block;
			margin-top: 8px;
			@include transition(all,0.3s,linear);
		}
	}

	.disclaimer {
		display: inline-block;
	    height: auto;
	    vertical-align: top;
	    padding: 15px;
	    max-width: 62%;
	    border-left: 2px solid #333;

	    @include bpmax(520px){
			display:none;
			border-left: 0px;
			text-align: center;
		}

		p {
			padding-bottom: 8px;
		}
	}
	nav.menu {
		text-align: right;
		display: inline-block;
		width:58%;
		@include bpmax(1280px){width: 60%;}
		@include bpmax(480px){width: 50%;}
		ul {
			display:inline-block;
			vertical-align: middle;
			li {
				display: inline-block;
				padding: 0%;

				a {
					color: $text-black;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}

	.filters {
		min-height: 40px;
		line-height: 40px;
		background: #fff;
		border-top: 2px solid #333;
		border-bottom: 2px solid #333;
		li {
			display: inline-block;
			a {
				height: 100%;
				display: block;
				padding: 0px 20px;
				color: $text-black;
				text-decoration: none;
				&:hover,&.active {
					background: #ddd;
				}
			}
		}
	}
}

.projects {
	padding-top: $header-desktop-height;
	opacity:0;

	@include transition(all,0.3s,linear);
	li{
		width: 20%;
		overflow: hidden;
		display: inline-block;
		position: relative;
		margin: 0px;
		padding: 0px;
		vertical-align: top;
		z-index:1;
		transform:translate3d(0,0,0);
		-webkit-transform:translate3d(0,0,0);
		-moz-transform:translate3d(0,0,0);

		@include bpmax(1280px){width: calc(100%/3);}
		@include bpmax(480px){width: 100%;}

		&:hover{
			z-index:2;
			-moz-box-shadow: 0px 0px 30px 3px #222;
			-webkit-box-shadow: 0px 0px 30px 3px #222;
			-o-box-shadow: 0px 0px 30px 3px #222;
			box-shadow: 0px 0px 30px 3px #222;
			@include transition(all,0.3s,ease-in-out);
		}
		a{
			display: block;
			width: 100%;
			height: 100%;

			&:hover{
				.mask {
					opacity: 0.7;
				}

			}

			.mask{
				background: #fff;
				opacity: 0;
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				color: #000;

				-webkit-transition: opacity 0.5s ease-in;
				-moz-transition: opacity 0.5s ease-in;
				-ms-transition: opacity 0.5s ease-in;
				-o-transition: opacity 0.5s ease-in;
				transition: opacity 0.5s ease-in;

				.inner{
					padding: 10%;
					strong{
						display: inline-block;
						min-height: 37px;
					}
				}
			}
		}

		img{
			width: 100%;
			display: block;
		}
	}
}

.popin-instance {
	top: $header-desktop-height;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2147483647;
	text-align: center;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0.8);
	cursor: url('../img/skin/cursor-cross.ico'),not-allowed;
	&:before {
		margin-right: 0px;
	}

	&:before {
		height: 100%;
		display: inline-block;
		content: '';
		vertical-align: middle;
	}

	.popin-close-icon {
		right: -51px;
		line-height: 1em;
		width: 50px;
		background: transparent;
		color: #fff;
		font-size: 3em;
		position: absolute;
		display: none;
	}

	.popin-inner {
		height: auto;
		max-height: 100%;
		width: auto;
		max-width: 100%;
		cursor: zoom-in;
		vertical-align: middle;
		display: inline-block;
		background: $text-black;
	}

}
